
name: widget-server-pipe

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout 
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          # estou usando WS_ACCESS_KEY_ID ao invés de AWS_ACCESS_KEY_ID porque
          # coloquei errado no github e iria demorar para corrigir, então deixei assim mesmo
          aws-access-key-id: ${{ secrets.WS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.WS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
                


 